html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    scroll-behavior: smooth;
}


.bloco {
    height: 100vh;              
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 30px; 
}


#bloco1 {
    background-image: url("../images/bloco1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#bloco2 {
    background-image: url("../images/bloco2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* botões */
button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #005fcc;
}

/* textos */
#historia, h1, h2, p, .curso1, .curso2, .curso3 {
    color: black;
    font-size: x-large;
    text-align: center;
}


footer {
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    margin-top: 0;
}