body {
    background-image: url(../images/1.jpg) ;      
    background-repeat: no-repeat; 
    
  }
  




#historia{
    color: black;
    font-size: x-large;

   text-align: center;
}

h1{
    color: black;
    text-align: center;
    font-size: xx-large;
    text-align: center;
}

h2{
    color:black ;
    text-align: center;
font-size: x-large;
text-align: center;
}


p{
    color: black ;
font-size: x-large;
text-align: center
;
}

.curso1{
    color: black;
    font-size: x-large;
    text-align: center;
}


.curso2{
    color: black;
    font-size: x-large;
    text-align: center;
    
}

.curso3{
    color: black;
    font-size: x-large;
    text-align: center;
}