#sobre{
    color: aliceblue;
    font-size: large;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: large;
}

h2{
    color:aliceblue ;
    text-align: center;
font-size: large;
}


p{
    color: aliceblue;
font-size: large

    ;
}

.curso1{
    color: aliceblue;
    font-size: large;
}


.curso2{
    color: aliceblue;
    font-size: large;
}

.curso3{
    color: aliceblue;
    font-size: large;
}